.site-nav {
  margin-bottom: 30px;
  background-color: white;
}

.nav-menu {
  position: relative;
  z-index: 1;
  background-color: black;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    height: 100%;
    width: 40px;
    background: linear-gradient(to left, rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
  }

  .nav-menu-inner {
    position: relative;
    width: 100%;
    overflow: scroll;
  }

  ul {
    width: 510px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.nav-decoration {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.header-decoration {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: -80px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  opacity: 0.75;
}

.nav-logo {
  position: relative;
  z-index: 1;
  padding-top: 30px;

  a {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 100%;
  }

  a img {
    width: 100%;
  }
}
