nav {
  background-color: white;
}

.header-decoration {
  display: block;
  width: 50%;
  max-width: 500px;
  margin-top: -5px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.nav-logo {
  a {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
    background-color: black;
    border-radius: 100%;
  }

  a img {
    width: 100%;
  }
}
